* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 100vw;
  height: 321vh;
  padding: 30px;
  background-color: bisque;
  padding-left: 100px;
}

#card {
  width: 292px;
  height: 389px;
  border-radius: 10px;
  background-color: #424242;
  color: #fff;
  transition: all 1.5s;
  float: left;
  margin: 72px;

  &:hover {
    transform: scale(1.1);
  }
}
#img {
  width: 292px;
  height: 189px;
}
#para {
  font-size: 11px;
  font-family: "Style Script", cursive;
  padding: 10px;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
#butt {
  color: green;
  &:hover {
    color: red;
  }
  position: relative;
  left: 93px;
}
#butt2 {
  color: #fff;
  &:hover {
    color: red;
  }
}

#contain {
  width: 100vw;
  height: 100px;
  border: 1px solid black;
  color: white;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding-right: 20px;
}
.link1 {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 1;

  &:hover {
    animation: move 1s 1;
  }
  @keyframes move {
    0% {
      top: 0px;
    }
    50% {
      top: 20px;
    }
    100% {
      top: 0px;
    }
  }
}
#logo {
  background-image: url("./image/logo.jpg");
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 59px;
}

#price {
  position: relative;
  left: 8em;
}
#footer {
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  background-color: rgb(168, 53, 53);
  color: #fff;
  @include flex();
  flex-direction: column;
  gap: 10px;
  padding-right: 40px;
}
#icon {
  position: relative;
  left: 23em;
}
#am {
  background-image: url("./image/one.jpg");
  width: 100vw;
  height: 100vh;
  @include flex();
  align-items: flex-start;
  padding: 30px;
}
#rs {
  width: 100vw;
  height: 100vh;
  @include flex();
  align-items: flex-start;
  padding: 30px;
}
.rcenter {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.inp {
  width: 30em;
  height: 5em;
  text-align: center;
  border-radius: 20px;
  border: none;
}
#lm {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#frev {
  width: 400px;
  height: 200px;
}

#social {
  margin-left: 20px;
}
